<h2>Sign Up!</h2>


<div class="">
  <form action="/auth/signup" method="post">
    <div class="">
      <div class="">
        <label for="firstname">First Name:</label>
        <input type="text" name="firstname" id="firstname" value="<%= oldInfo ? oldInfo.firstname : '' %>">
      </div>
      <div class="">
        <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" id="lastname" value="<%= oldInfo ? oldInfo.lastname : '' %>">
      </div>
    </div>
    <div class="">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%= oldInfo ? oldInfo.email : '' %>">
    </div>
    <div class="">
      <label for="new-username">Username:</label>
      <input type="text" name="username" id="new-username" value="<%= oldInfo ? oldInfo.username : '' %>">
    </div>
    <div class="">
      <div class="">
        <label for="dob">Date of Birth:</label>
        <input type="text" name="dob" id="dob" class="datepicker"  value="<%= oldInfo ? oldInfo.dob : '' %>">
      </div>
      <div class="">
        <label for="personalImg">Image Url:</label>
        <input type="url" name="personalImg" id="personalImg"  value="<%= oldInfo ? oldInfo.personalImg : '' %>">
      </div>
    </div>
    <div class="">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </div>
    <div class="">
      <label for="password-check">Verify Password:</label>
      <input type="password" name="passwordCheck" id="password-check">
    </div>
    <div class="">
      <label for="bio">Bio:</label>
      <textarea type="text" name="bio" id="bio" class=""  value="<%= oldInfo ? oldInfo.bio : '' %>"></textarea>
    </div>
    <button class="" type="submit" name="action">Sign Up</button>
  </form>
</div>