<h1><%= spell.name %></h1>
<% if(spell.level > 0){ %>
  <h3>Level <%= spell.level %> <%= spell.school.name %></h3>
<% } else { %>
    <h3><%= spell.school.name %> Cantrip</h3>
<% } %>
<% if(spell.ritual){ %>
  <p><em>Ritual</em></p>
<% }%>

<p><strong>Casting Time: </strong> <%= spell.casting_time%></p>
<p><strong>Duration: </strong> <%= spell.duration %><% if(spell.concentration){ %>, <em>Concentration</em>
<% } %></p>
<p><strong>Components: </strong> <%= spell.components %> <% if(spell.material){ %>
  (<%= spell.material %>)
<% } %></p>
<p><strong>Range: </strong><%= spell.range %></p>
<p><%= spell.desc %></p>
<% if(spell.higher_level){ %>
  <p><%= spell.higher_level %></p>
<% } %>

<% spell.characterclasses.forEach(characterClass=>{ %>
  <p><em><%= characterClass.name %></em></p>
<% }) %>

<% if(user && spellbooks.length > 0){ %>
  <form action="/profile/spellbook/add" method="post">
    <select name="spellbookId" id="spellbookId">
      <% spellbooks.forEach(spellbook=>{ %>
        <option value="<%= spellbook.id %>"><%= spellbook.name %></option>
      <% }) %>
    </select>
    <input type="hidden" name="spellId" value="<%= spell.id %>">
    <button type="submit">Add to Spellbook!</button>
  </form>
<% } else if (user) { %>
  <h5>Looks like you don't have any spellbooks.</h2>
  <p><a href="/profile/spellbook/new">Create a Spellbook!</a></p>
<% } else { %>
  <h5><a href="/auth/signup">Sign Up to save this spell!</a></h2>
  <p><a href="/auth/login">Or Login</a></p>
<% } %>
