<h1>Welcome <%= user.username %></h1>

<div class="">
  <div class="">
    <div>
      <img src="<%= user.avatar_img %>" alt="<%= user.username %>'s avatar picture'">
    </div>
  </div>
  <div class="">
    <h3><%= user.username %> Spellbooks</h3>
    <% user.spellbooks.forEach(spellbook=>{ %>
      <p><a href="/profile/spellbook/<%= spellbook.id %>"><%= spellbook.name %></a></p>
      <p>Level <%= spellbook.level %> <%= spellbook.characterClassesId %></p>
    <% })%>
  </div>
</div>