<h1>Spellbook for <%= spellbook.name %></h1>
<h3>Level <%= spellbook.level %> <%= spellbook.characterclass.name %></h3>
<h5><a href="/profile/spellbook/<%= spellbook.id %>/edit">Edit <%= spellbook.name %></a></h5>

<p>Spells Known: <%= spellbook.known_spells %></p>

<p>Spell Slots: <%= spellbook[`level_${warlockMax}_slots`] %> <em>(at Level <%= warlockMax%>)</em></p>

<h4>Cantrips <span>Known: <%= spellbook.cantrips_known %></span></h4>
<a href="/spells">Add Spells</a>
<ul>
  <% spellbook.spells.forEach(spell=>{ %>
    <% if(spell.level === 0){ %>
      <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
    <% } %>
  <% }) %>
</ul>
<hr>

<h4>Level 1</h4>
<a href="/spells">Add Spells</a>
<ul>
  <% spellbook.spells.forEach(spell=>{ %>
    <% if(spell.level === 1){ %>
      <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
    <% } %>
  <% }) %>
</ul>
<hr>

<% if ( 2 <= warlockMax) { %>
  <h4>Level 2</h4>
  <a href="/spells">Add Spells</a>
  <ul>
    <% spellbook.spells.forEach(spell=>{ %>
      <% if(spell.level === 2){ %>
        <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
      <% } %>
    <% }) %>
  </ul>
  <hr>
<% }%>

<% if (3 <= warlockMax) { %>
  <h4>Level 3</h4>
  <a href="/spells">Add Spells</a>
  <ul>
    <% spellbook.spells.forEach(spell=>{ %>
      <% if(spell.level === 3){ %>
        <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
      <% } %>
    <% }) %>
  </ul>
  <hr>
<% } %>


<% if (4 <= warlockMax) { %>
  <h4>Level 4</h4>
  <a href="/spells">Add Spells</a>
  <ul>
    <% spellbook.spells.forEach(spell=>{ %>
      <% if(spell.level === 4){ %>
        <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
      <% } %>
    <% }) %>
  </ul>
  <hr>
<% } %>

<% if (5 <= warlockMax) { %>
  <h4>Level 5</h4>
  <a href="/spells">Add Spells</a>
  <ul>
    <% spellbook.spells.forEach(spell=>{ %>
      <% if(spell.level === 5){ %>
        <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
      <% } %>
    <% }) %>
  </ul>
  <hr>
<% } %>

<% if (spellbook.level >= 11) { %>
  <h4><em>Mystic Arcanum</em></h4>>
  <h4>Level 6</h4>
  <a href="/spells">Add Spell</a>
  <ul>
    <% spellbook.spells.forEach(spell=>{ %>
      <% if(spell.level === 6){ %>
        <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
      <% } %>
    <% }) %>
  </ul>
  <hr>
<% } %>

<% if (spellbook.level >= 13) { %>
  <h4><em>Mystic Arcanum</em></h4>>
  <h4>Level 7</h4>
  <a href="/spells">Add Spell</a>
  <ul>
    <% spellbook.spells.forEach(spell=>{ %>
      <% if(spell.level === 7){ %>
        <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
      <% } %>
    <% }) %>
  </ul>
  <hr>
<% } %>

<% if (spellbook.level >= 15) { %>
  <h4><em>Mystic Arcanum</em></h4>
  <h4>Level 8</h4>
  <a href="/spells">Add Spell</a>
  <ul>
    <% spellbook.spells.forEach(spell=>{ %>
      <% if(spell.level === 8){ %>
        <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
      <% } %>
    <% }) %>
  </ul>
  <hr>
<% } %>


<% if (spellbook.level >= 17) { %>
  <h4><em>Mystic Arcanum</em></h4>
  <h4>Level 9</h4>
  <a href="/spells">Add Spell</a>
  <ul>
    <% spellbook.spells.forEach(spell=>{ %>
      <% if(spell.level === 9){ %>
        <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
      <% } %>
    <% }) %>
  </ul>
  <hr>
<% } %>
